Gem::Specification.new do |s|
  s.name = "___NAME___"
  s.summary = "___SUMMARY___"
  s.description = s.summary
  s.author = "___AUTHOR___"
  s.email = "___EMAIL___"
  s.homepage = "___HOMEPAGE___"
  s.license = "Apache 2.0"

  s.version = "0.0.1"

  s.platform = Gem::Platform::RUBY

  s.add_dependency "microwave"
  s.add_dependency "boson"

  s.require_path = "cookbooks"

  s.files = Dir.glob("cookbooks/**/*")
  s.files.concat %w(LICENSE NOTICE README.mkd)
end

